/* GENERAL */

body {
    font-family: 'Inter';
}

*{
    --red: #FF6767;
    --blue: #3ABEFF;
    --grey: #A1A3AB;
    --dark-white: #F8F8F8;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--red);
    width: 200px;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 8px;
    height: 260px;
    display: flex;
    justify-content: center;
}

.sidebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.sidebar-content .page {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.site-content .page:hover {
    background-color: white;
    color: var(--red);
}


/* HOME-PAGE */

.header {
    background-color: var(--dark-white);
    border-bottom: solid 2px var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.site-content {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    gap: 100px;
}