/* GENERAL */

body {
    font-family: 'Inter';
}

*{
    --red: #FF6767;
    --blue: #3ABEFF;
    --grey: #A1A3AB;
    --dark-white: #F8F8F8;
    margin: 0;
    padding: 0;
    --space-around: 3%;
}

a {
    text-decoration: none;
}

button {
    margin-left: 15px;
    border-radius: 50%;
    background-color: var(--red);
    border: solid 2px var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
}

button p {
    font-size: 20px;
    padding: 4px 10px;
    font-weight: 100;
    color: white;
}

button p:hover {
    color: var(--red);
}

button img {
    padding: 4px 6px;
    width: 12px;
}

input, select {
    padding: 7px;
    border-radius: 5px;
    border: solid 2px var(--red);
}

select:hover{
    cursor: pointer;
}

option:hover {
    background-color: none;
    cursor: pointer;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--red);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: flex-start;
}

.sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: var(--space-around);
    padding-right: var(--space-around);
    padding-top: 10px;
    padding-bottom: 10px; 
    gap: 50px;
}

.sidebar-content .page {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.site-content .page:hover {
    background-color: white;
    color: var(--red);
}

/* HOME-PAGE */

.header {
    background-color: var(--dark-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0px 8px 9px var(--grey);
}

.site-content {
    display: flex ;
    flex-direction: column;
    position: relative;
    gap: 50px;
    justify-content: flex-start;
}

.main-content {
    height: 100%;
    margin-right: var(--space-around);
    margin-left: var(--space-around);
    margin-bottom: 50px;
}

.todo-list, .categories-list {
    border: solid 1px var(--grey);
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-list h3, .categories-list h3 {
    border-bottom: solid 2px var(--red);
    width: fit-content;
}

.todo-list ul, .categories-list ul {
    list-style: none;
    margin-top: 20px;
}

.todo-list li, .categories-list li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.checkbox{
    margin-right: 20px;
}

.todo-list .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo-list .title p {
    margin-left: 20px;
    font-size: 13px;
}

.todo-list .color-cat {
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.box-edit {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.box-insert-todo {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
} 

.insert-todo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
    font-size: 13px;
}

.text-todo {
    display: flex;
}

.remove-todo button:hover, .edit-todo button:hover {
    background-color: var(--red);
}

.remove-todo button img{
    padding: 4px 6px;
    width: 12px;
    height: 14px;
}

.edit-todo button img {
    width: 13px;
    padding: 5px 6px;
}

.buttons-edit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.edit-todo input {
    height: 9px;
}

.edit-todo .true {
    display: flex;
}

.edit-todo .false {
    display: none;
}

.edit-todo .select-cat {
    padding: 3px 4px;
    margin: 0;
}

.edit-todo .details {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-todo .select-cat {
    display: flex;
    gap: 10px;
}

.select-cat {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

/* CATEGORIES-PAGE */

.color-cat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.input-textCat{
    margin-right: 10px;
}

.chooseColor {
    border: solid 2px var(--red);
    padding: 4px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    block-size: 33px;
    width: 33px;
    margin-left: 10px;
}

.edit-todo .chooseColor {
    block-size: 27px;
    width: 27px;
    padding: 3px;
    margin-left: 0px;
}

.task-categories .select-color {
    display: flex;
    gap: 10px;
}

.btn-editCat {
    margin-left: 0px;
}

.btn-editCat p {
    font-size: 15px;
    padding: 3px 8px;
    font-weight: 600;
}

.btn-editCat:hover{
    background-color: transparent !important;
}

/* MEDIA QUERY */

@media screen and (max-width: 584px) {
    .box-insert-todo {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .insert-todo {
        padding-left: 0;
    }

    .task-categories .box-insert-todo{
        flex-direction: row !important;
        align-items: center !important;
    }
}

@media screen and (max-width: 530px) {
    .home-page .edit-todo {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .buttons-edit {
        align-items: flex-start;
    }

    .home-page .edit-todo .details {
        gap: 5px;
    }
}

@media screen and (max-width: 466px) {
    .home-page .edit-todo .details {
        flex-direction: column;
        align-items: flex-end;
    }

    .task-categories .edit-todo {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

@media screen and (max-width: 450px){
    .home-page .insert-todo {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .select-cat {
        margin-left: 0;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .task-categories .box-insert-todo {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}

@media screen and (max-width: 405px) {
    .task-categories .details {
        flex-direction: column !important;
        align-items: flex-end !important;
    }
}